tensorflow==2.8.2
numpy
pandas
matplotlib
opencv-python
notebook
SciPy
ultralyticsplus==0.0.24 
ultralytics==8.0.23
streamlit
mysql-connector-python
kaggle
dill
tqdm
#for gpu with torch -- pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 